{% extends 'users/base.html' %}
{% block title %}records{% endblock %}
{% block records %}class = "active"{% endblock %}
{% block style %}
{% endblock %}
{% block body %}
    <div class="container">
  <h2>Donation details</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
          <th>ID</th>
          <th>Blood type</th>
          <th>unit</th>
          <th>date</th>
          <th>staff</th>
      </tr>
    </thead>
    <tbody>
    {% for k in detail %}
      <tr>
        <td>{{ k.donar_name }}</td>
        <td>{{ k.id_no }}</td>
        <td>{{ k.blood_TYPE }}</td>
        <td>{{ k.units }}</td>
        <td>{{ k.date }}</td>
        <td>{{ k.staff }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}