<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Log in | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" login"
  data-admin-utc-offset="19800">
<div id="container">
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">staff administration</a></h1>
        </div>
    </div>
    <div id="content" class="colM">
<div id="content-main">
<form action={% url 'users:login' %} method="post" id="login-form">
{% csrf_token %}
  <div class="form-row">

    <label class="required" for="id_username">Username:</label> <input autofocus="" id="id_username" maxlength="254" name="username" type="text" required />
  </div>
  <div class="form-row">

    <label class="required" for="id_password">Password:</label> <input id="id_password" name="password" type="password" required />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>
</div>
    </div>
</div>
</body>